.share-reveal-editor.cyberfund-button {
  background: #ddd;
  color: black;
  border: solid black 1px;
  transition: all ease 0.3s;
}
.share-reveal-editor.cyberfund-button:hover {
  background-color: white
}
