.share-reveal-editor.cyberfund-button {
  background: #ff3636;
  color: white;
  border: solid black 1px;
  transition: all ease 0.3s;
}
.share-reveal-editor.cyberfund-button:hover {
  background: #cc3333;
}
